.home-heading {
  display: flex;
  margin: auto;
  width: 90%;
  color: #fff;
  margin-bottom: 10px;
  font-size: x-large;
  font-weight: bold;
}
.home-container {
  margin: auto;
  width: 90%;
  margin-bottom: 20px;
}

.card {
  background-color: #06121e;
  border-width: 0 !important;
  margin-bottom: 20px;
}
