.container {
  align-items: center;
  justify-content: center;
  display: flex;
}
.form {
  width: 40%;
  background-color: #363636;
  padding-bottom: 50px;
  border-radius: 5px;
}
.sign-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-header {
  color: white;
  padding-top: 20px;
  font-size: 30px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
